.col-xs-5.col-md-3
  .input-group.general-position
    %a.input-link{href: "#"}
      %i.fa.fa-minus.line-height-40
    %input.form-control.quantity-input{type: "text", value: "1"}
    %a.input-link{href: "#"}
      %i.fa.fa-plus.line-height-40

.col-xs-7.col-md-5
  - if user_signed_in?
    %button.btn.btn-default.pull-right.general-position= t('book.add_to_cart')
  - else
    %button.btn.btn-default.pull-right.general-position.disabled= t('book.login_first') 
