.col-xs-5.col-md-3
  .input-group.general-position
    %a.input-link.disabled{href: "#"}
      %i.fa.fa-minus.line-height-40
    %input.form-control.quantity-input.disabled{type: "text", value: "1"}
    %a.input-link.disabled{href: "#"}
      %i.fa.fa-plus.line-height-40

.col-xs-7.col-md-5
  %button.btn.btn-default.pull-right.general-position.disabled= t('book.out_of_stock')
