%h3.in-gold-500.mb-25= t('book.reviews', count: @reviews.count)
- @reviews.each do |review|
  .general-message-wrap.divider-lg
    .clearfix
      %img.img-circle.logo-size.inlide-block.pull-left{src: review.user.image || 'https://book-store-dmitriev.s3.eu-west-2.amazonaws.com/no_avatar.png'}
      .ml-70
        %div
          .general-message-date.hidden-xs= review.created_at.strftime("%d.%m.%Y")
          .max-240
            .general-message-name= review.user.name || review.user.email[/[^@]+/].capitalize
        .mb-15
          %i.fa.fa-star.rate-star
          %i.fa.fa-star.rate-star
          %i.fa.fa-star.rate-star
          %i.fa.fa-star.rate-star
          %i.fa.fa-star.rate-star
        %p= review.body
