
%ul.list-inline.pt-10.mb-25.mr-240
  %li.mr-35
    %a.filter-link{href: "#"}
      All
      %span.badge.general-badge= Book.all.size
  %li.mr-35
    %a.filter-link{href: "#"}
      - Category.all.each do |category|
        %li.mr-35
          .filter-link
            = link_to category.name, category_books_path(category), class: 'collapse-link'
            %span.badge.general-badge= category.books.size