.dropdowns.pull-right
  .dropdown.width-240
    %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
      Newest first
      %i.fa.fa-angle-down.dropdown-icon.pull-right
    %ul.dropdown-menu
      - @sorts.each_with_index do |sort, index|
        %li
          %a{href: category_books_path(params[:category_id], sort_by: index)}
            = sort
      -# %li
      -#   %a{href: category_books_path(params[:category_id], sort_by: 'most_recent')} Newest first
      -# %li
      -#   %a{href: category_books_path(params[:category_id], sort_by: 'ascending_title')} ABC Title
      -# %li
      -#   %a{href: category_books_path(params[:category_id], sort_by: 'descending_title')} ZYX Title
      -# %li
      -#   %a{href: "#"} Popular first
      -# %li
      -#   %a{href: category_books_path(params[:category_id], sort_by: 'ascending_price')} Price: Low to hight
      -# %li
      -#   %a{href: category_books_path(params[:category_id], sort_by: 'descending_price')} Price: Hight to low
